.home{
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;

    div{
        color: $myBlue;
        font-size: 2rem;
    }
}