.message{
    margin: 1rem;
    background: white;
    border: 2px solid $myBlue;
    border-radius: 5px;
    width: 80%;
    position: relative;
}

.username{
    font-weight: 700;
    margin: 1rem;
}

.content{
    margin: 1rem;
}

.my-message{
    @extend .message;
    background: $myYellow;

}

.deleteButton{
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0.5rem;

    &:hover{
        color: white;
        cursor: pointer;
    }
}