.login{
    height: calc(100vh - 4rem);
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page_form{
    width: 40%;
    border: 2px solid $myBlue;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
}

.login-form{
    h3{
        text-align: center;
        color: $myBlue;
    }

    input{
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid $myBlue;
        margin-top: 1rem;
        border-radius: 5px;
    }

    &:focus{
        outline: none;
    }

    button{
        display: block;
        padding: 0.5rem;
        background: $myBlue;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:disabled{
            background: #ccc;
            cursor: not-allowed;
        }
    }
}

.input-invalid{
    border: 1px solid $myRed;
}

.invalid-message{
    color: $myRed;
    font-size: 0.75rem;
}

.login-form__nav{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    div{
        font-size: 0.75rem;
        align-self: flex-end;
        text-decoration: underline;
        color: $myBlue;
    }
}

.error-message{
    color: $myRed;
    background: #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}